.board {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .firstRow,
  .thirdRow {
    display: flex;
    div {
      width: $sizeFraction;
      height: 2 * $sizeFraction;
      border: 1px solid black;
      &:nth-child(1),
      &:last-child {
        width: 2 * $sizeFraction;
      }
      .house {
        width: 25%;
      }
      .hotel {
        width: 100%;
      }
    }
  }
  .secondRow {
    display: flex;
    div {
      width: 2 * $sizeFraction;
      height: 9 * $sizeFraction;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      .house {
        width: 15%;
        height: 25%;
      }
      .hotel {
        width: 15%;
        height: 100%;
      }
    }
    .middle {
      width: 9 * $sizeFraction;
      height: 9 * $sizeFraction;
    }
  }
}
li.player {
  margin-top: 5px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.owner {
  position: absolute;
  opacity: 0.4;
  text-transform: uppercase;
  color: white;
  font-size: 0.5em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.chanceDeck,.communityDeck{
  display: block;
  position: relative;
  width: 250px !important;
  height: 170px !important;
  border-radius: 9px;
  border: 10px solid black !important; 
  background-color: grey;
}

.chanceDeck{
  margin-top: 30px !important;
  margin-left:50% !important;
}
.communityDeck{
  margin-top: 170px !important;
  margin-left: 5% !important;
}

.logo{
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top:10px;
  border: 2px solid black;
  
}