.board {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .firstRow,
  .thirdRow {
    display: flex;
    div {
      width: $sizeFraction;
      height: 2 * $sizeFraction;
      border: 1px solid black;
      &:nth-child(1),
      &:last-child {
        width: 2 * $sizeFraction;
      }
    }
  }
  .secondRow {
    display: flex;
    div {
      width: 2 * $sizeFraction;
      height: 9 * $sizeFraction;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
    }
    .middle {
      width: 9 * $sizeFraction;
      height: 9 * $sizeFraction;
    }
  }
}
li.player {
  margin-top: 5px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}