.game {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
}

.newGame {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .mainPanel {
    display: flex;
    flex-direction: row;
    width: 70vh;
    height: 40vh;
    background-color: royalblue;
    border: 4px solid black;
    border-radius: 30px;
    .options,
    .players {
      width: 50%;
      text-align: center;
      margin: 15px;
      border: 2px solid black;
      border-radius: 20px;
    }
    .options{
      .addPlayer{
        margin: 10px 0;
      }
    }
    .players{
      h2{
        margin: 10px 0;
      }
      ul{
        list-style: none;
        font-size: 20px;
      }
    }
  }
  button{
    background-color: black;
    color:white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
  }
}
