:root {
  --main-panel-width: 60vh;
  --main-panel-height: 40vh;
}

.game {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newGame {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .mainPanel {
    // width: 60vh;
    width: var(--main-panel-width);
    // height: 40vh;
    height: var(--main-panel-height);
    background-color: royalblue;
    display: flex;
    flex-direction: row;
    div {
      width: 50%;
    }
  }
}

// cities initioalisation
.citiesInitSection {
  width: var(--main-panel-width);
  height: var(--main-panel-height);
  background-color: royalblue;
  margin-right: 2px;
}

.citiesInitSectionContainer {
  display: flex;
}

.citiesInitSectionLeft {
  width: calc(var(--main-panel-width)/2);
  height: var(--main-panel-height);
}

.citiesInitSectionRight {
  width: calc(var(--main-panel-width)/2);
  height: var(--main-panel-height);
}

.citiesInitSection h3 {
  display: inline;
  // display: block;
  // width: 100%;
  // min-width: 100%;
}

.citiesInitSection li {
  display: block;
  cursor: inherit;
}

.citiesInitSection li:hover {
  background-color: skyblue;
  cursor: pointer; 
}

.citiesInitSection #suggestions {
  min-height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}

.removeGameCity {
  display: block;
}

.removeGameCity:hover {
  cursor: pointer;
}

.tabGameCities {
  min-height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}

.changeCountry {
  display: none;
}

.changeCountry:hover {
  cursor: pointer;
}
// ======================
