.game {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
}

.newGame {
  // background-color: black;
  position: fixed;
  // z-index: -1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  #cietiesPanel{
    flex-direction: row;
  }

  .mainPanel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80vh;
    height: 90vh;
    background-color: royalblue;
    border: 4px solid black;
    border-radius: 30px;
    .options,
    .players,
    .next {
      text-align: center;
      margin: 15px;
      border-radius: 20px;
      h2{
        margin: 10px;
      }
      ul li{
        border-bottom: 2px solid black;
        margin:5px;
      }
    }
    .options {
      .addPlayer {
        margin: 10px 0;
      }
    }
    .players {
      h2 {
        margin: 10px 0;
      }
      ul {
        list-style: none;
        li {
            font-size: 30px;          
        }
      }
    }
    .next{
      justify-items: flex-start;

    }
  }
  .mainPanel.hidden{
    display: none;
  }
  button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 5px 25px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
  }
}


#btnNewGame:hover {
  cursor: pointer;
}

// =========== inicjalizacja miast ===========

.initFieldsContainer {
  margin-top: 5px;
  text-align: left;
  th {
    text-align: center;
  }
}

.initFieldsList {
  width: 100%;
  tbody tr {
    :hover {
      cursor: pointer;
    }
  }
}

#searchCitiesForm {
  margin-top: 5px;
}

.citiesInitSection form {
  margin: 0 10px;
  text-align: left;
}

.citiesInitSection ul {
  max-height: 40vh;
  overflow-y: scroll;
  margin: 5px 0;
}

#suggestions span {
  display: block;
}

#suggestions li:hover {
  cursor: pointer;
  background-color: lightblue;
}

#search {
  margin-top: 5px;
}

.fieldsListButtons {
  margin-top: 15px;
}

.localeListButtons {
  margin-top: 15px;
}

// ===========================================