* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
$sizeFraction: 90vh/13;
$backgroundColor: lightblue;
$controlPanelColour: gold;
